/* main.scss */
.poeticsoft-woo-agora {
  position: relative;
  /* margin-left: -20px;        */
  height: 100%; }

/* _tabs.scss */
.poeticsoft-woo-agora .k-tabstrip-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .poeticsoft-woo-agora .k-tabstrip-wrapper .k-tabstrip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .poeticsoft-woo-agora .k-tabstrip-wrapper .k-tabstrip .k-tabstrip-items {
      padding: 5px 20px 0; }
  .poeticsoft-woo-agora .k-tabstrip-wrapper .k-content {
    position: absolute;
    top: 41px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden !important; }

/* _excel.scss */
.poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools {
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  display: flex; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget {
    display: flex;
    align-items: center; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget > button {
      display: none; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget.k-upload {
      width: calc(100% - 200px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget.k-upload .k-button {
        margin: 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget.k-upload .k-file-extension-wrapper {
        width: 26px;
        height: 26px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget.k-upload .k-file-name-size-wrapper {
        font-size: 90%; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget .k-dropzone {
      width: 135px;
      padding: 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget .k-dropzone .k-upload-button {
        margin-right: 0; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget .k-upload-files {
      border: none;
      padding: 0;
      line-height: 100%;
      width: calc(100% - 135px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget .k-upload-files .k-file {
        border: none;
        padding: 0 0; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .k-widget .k-upload-files .k-file .k-upload-status {
          top: 2px;
          right: 6px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .Actions {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetTools .Actions button.Attributes {
      margin-right: 10px; }

.poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView {
  position: absolute;
  top: 53px;
  right: 7px;
  bottom: 6px;
  left: 5px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet {
    width: 100%;
    height: 100%;
    /*
	
				.k-spreadsheet-message-content {

					margin: 0 20px;
				}

				*/ }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-action-bar,
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-quick-access-toolbar,
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-sheets-bar-add {
      display: none; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-view {
      height: calc(100% - 42px) !important;
      overflow: auto; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-column-header {
      border-style: solid;
      border-width: 0 0 1px 0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-column-header > div {
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: #ccc; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-row-header {
      border-style: solid;
      border-width: 0 1px 0 0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-spreadsheet-row-header > div {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: #ccc;
        box-sizing: border-box; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-color-size .SpreadsheetView .k-spreadsheet .k-tabstrip-items {
      padding: 1px 20px 0; }

/* _excel.scss */
.poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools {
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  display: flex; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget {
    display: flex;
    align-items: center; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget > button {
      display: none; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget.k-upload {
      width: calc(100% - 270px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget.k-upload .k-button {
        margin: 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget.k-upload .k-file-extension-wrapper {
        width: 26px;
        height: 26px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget.k-upload .k-file-name-size-wrapper {
        font-size: 90%; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget .k-dropzone {
      width: 135px;
      padding: 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget .k-dropzone .k-upload-button {
        margin-right: 0; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget .k-upload-files {
      border: none;
      padding: 0;
      line-height: 100%;
      width: calc(100% - 135px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget .k-upload-files .k-file {
        border: none;
        padding: 0 0; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .k-widget .k-upload-files .k-file .k-upload-status {
          top: 2px;
          right: 6px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .Actions {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .Actions button {
      padding: 2px 15px; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetTools .Actions button + button {
      margin-left: 10px; }

.poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView {
  position: absolute;
  top: 53px;
  right: 7px;
  bottom: 6px;
  left: 5px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet {
    width: 100%;
    height: 100%;
    /*
	
				.k-spreadsheet-message-content {

					margin: 0 20px;
				}

				*/ }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-action-bar,
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-quick-access-toolbar,
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-sheets-bar-add {
      display: none; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-view {
      height: calc(100% - 42px) !important;
      overflow: auto; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-column-header {
      border-style: solid;
      border-width: 0 0 1px 0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-column-header > div {
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: #ccc; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-row-header {
      border-style: solid;
      border-width: 0 1px 0 0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-spreadsheet-row-header > div {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: #ccc;
        box-sizing: border-box; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-tabstrip-items {
      padding: 1px 20px 0; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-data .SpreadsheetView .k-spreadsheet .k-state-disabled {
      opacity: 1;
      color: #bbb; }

/* _excel.scss */
.poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools {
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  display: flex; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget {
    display: flex;
    align-items: center; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget > button {
      display: none; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget.k-upload {
      width: calc(100% - 300px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget.k-upload .k-button {
        margin: 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget.k-upload .k-file-extension-wrapper {
        width: 26px;
        height: 26px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget.k-upload .k-file-name-size-wrapper {
        font-size: 90%; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget .k-dropzone {
      width: 135px;
      padding: 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget .k-dropzone .k-upload-button {
        margin-right: 0; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget .k-upload-files {
      border: none;
      padding: 0;
      line-height: 100%;
      width: calc(100% - 135px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget .k-upload-files .k-file {
        border: none;
        padding: 0 0; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .k-widget .k-upload-files .k-file .k-upload-status {
          top: 2px;
          right: 6px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .Actions {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .Actions button {
      padding: 2px 15px; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetTools .Actions button + button {
      margin-left: 10px; }

.poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView {
  position: absolute;
  top: 53px;
  right: 7px;
  bottom: 6px;
  left: 5px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet {
    width: 100%;
    height: 100%;
    /*
	
				.k-spreadsheet-message-content {

					margin: 0 20px;
				}

				*/ }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-action-bar,
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-quick-access-toolbar,
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-sheets-bar-add {
      display: none; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-view {
      height: calc(100% - 42px) !important;
      overflow: auto; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-column-header {
      border-style: solid;
      border-width: 0 0 1px 0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-column-header > div {
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: #ccc; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-row-header {
      border-style: solid;
      border-width: 0 1px 0 0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-spreadsheet-row-header > div {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: #ccc;
        box-sizing: border-box; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-tabstrip-items {
      padding: 1px 20px 0; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-stock .SpreadsheetView .k-spreadsheet .k-state-disabled {
      opacity: 1;
      color: #bbb; }

/* _products.scss */
.poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView {
  position: absolute;
  top: 8px;
  right: 6px;
  bottom: 8px;
  left: 6px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-loading-mask {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist {
    height: 100%; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-header {
      /* text-align: right; */
      padding: 5px; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-header tr:first-child th:not(:first-child) {
      text-align: center; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-header tr:not(:first-child) th {
      text-align: center; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content {
      height: calc(100% - 71px) !important; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content .k-icon.k-i-collapse {
        margin: -2px 2px 0 0; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content .k-icon.k-i-collapse:before {
          content: "\e525";
          font-size: 90%;
          display: inline-block;
          color: #3091d8; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content .k-icon.k-i-none + .k-icon.k-i-none:before {
        content: "\e202";
        font-size: 40%;
        display: inline-block;
        padding: 0 0 2px 0;
        color: #82b3d8; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content .k-icon.k-i-none:only-child:before {
        content: "\e308";
        font-size: 120%;
        display: inline-block;
        margin: -3px 0 0 -3px;
        color: #82bb65; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Type {
        text-align: center; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Type div {
          width: 100%;
          height: 100%;
          color: #fff; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Type div.simple {
          background-color: #82bb65; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Type div.variable {
          background-color: #3091d8; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Type div.variation {
          background-color: #82b3d8; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Stock,
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Web,
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Last,
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Actual,
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Export {
        text-align: center; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Image {
        text-align: center; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Image div:empty:before {
          content: "\e11d";
          color: #c50000; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Image div:not(:empty) {
          text-indent: 0;
          font: inherit;
          width: auto;
          height: auto; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status {
        text-align: center;
        cursor: help; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.updated {
          color: #0c0; }
          .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.updated:before {
            content: "\e11a"; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.changed {
          color: #ffac00; }
          .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.changed:before {
            content: "\e403"; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.new {
          color: #00b1ff; }
          .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.new:before {
            content: "\e907"; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.deleted {
          color: #c00; }
          .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-grid-content td.Status .k-icon.deleted:before {
            content: "\e11c"; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView .k-treelist .k-status {
      display: none; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView td.Editable.Variable,
  .poeticsoft-woo-agora .poeticsoft-woo-agora-products .WebProductsView td.Editable.Simple {
    background-color: #eff5dc66;
    cursor: pointer; }

.DataToolTip {
  text-align: left;
  background-color: #fff;
  color: #888;
  padding: 5px 10px; }
  .DataToolTip .Field {
    border: solid #ccc;
    border-width: 0 0 1px 0;
    padding: 5px 0; }
    .DataToolTip .Field:last-child {
      border-width: 0; }
    .DataToolTip .Field .Name,
    .DataToolTip .Field .Value {
      display: inline-block;
      vertical-align: top; }
    .DataToolTip .Field .Name {
      width: 40%; }
    .DataToolTip .Field .Value {
      width: 55%; }
      .DataToolTip .Field .Value div {
        padding: 0 0 5px 0; }
        .DataToolTip .Field .Value div span {
          display: inline-block;
          width: 75%;
          vertical-align: top; }
          .DataToolTip .Field .Value div span:first-child {
            width: 20%; }
      .DataToolTip .Field .Value div + div {
        border: solid #ccc;
        border-width: 1px 0 0 0;
        padding: 5px 0; }

/* _categories.scss */
.poeticsoft-woo-agora .poeticsoft-woo-agora-categories {
  padding: 5px;
  /* HEAD */
  /* VIEWS */
  /* FOOTER */ }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Tools {
    width: 100%;
    text-align: right;
    box-sizing: border-box; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views {
    position: absolute;
    top: 40px;
    right: 5px;
    bottom: 5px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    /* CATEGORIES */
    /* TOOLS */
    /* FAMILIES */ }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Categories {
      width: calc(50% - 100px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Categories .Head {
        padding: 0 0 5px;
        border: solid #ccc;
        border-width: 0 0 1px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Categories .CategoriesTreeView .TreeViewItem {
        padding: 5px 10px;
        cursor: pointer; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Tools {
      width: 140px;
      text-align: center;
      padding-top: 25px; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Families {
      width: calc(50% - 70px); }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Families .Head {
        padding: 0 0 6px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Families .FamiliesListView {
        overflow: auto;
        height: calc(100% - 28px); }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Families .FamiliesListView .ListViewItem {
          padding: 5px 10px;
          margin: 5px;
          border: solid #ccc 1px;
          cursor: pointer; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Views .Families .FamiliesListView.Belongs {
          background-color: #ff0; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-categories .Footer {
    position: absolute;
    right: 14px;
    bottom: 10px;
    left: 10px; }

/* _images.scss */
.poeticsoft-woo-agora .poeticsoft-woo-agora-images {
  padding: 5px 5px 7px; }
  .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images {
    display: flex;
    height: 100%;
    /* UPLOAD IMAGES --------------------------------------------------------------------- */
    /* IMAGES --------------------------------------------------------------------- */ }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload {
      width: 35%;
      position: relative;
      padding-right: 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .UploadImageTools {
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 1; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload.k-dropzone-active em {
        display: none; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload {
        height: 100%;
        position: relative; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload > span {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 40px; }
          .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload > span.k-dropzone-hovered {
            background-color: #00cc0066; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload .k-dropzone {
          padding: 5px; }
          .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload .k-dropzone .k-upload-status {
            margin-left: 0; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload .k-upload-files {
          height: calc(100% - 42px);
          overflow-y: scroll;
          padding-bottom: 0;
          margin-bottom: 5px;
          background-color: #fff;
          position: relative; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload .k-button.k-clear-selected,
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload .k-button.k-upload-selected {
          border-top: solid #dbdbdb 1px; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .Upload .k-upload .k-upload-button {
          margin-right: 5px; }
    .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List {
      width: 65%; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-header {
        padding: 5px;
        text-align: right; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-header button {
          margin: 0; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-header button + button {
          margin: 0 0 0 5px; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-grid-content .k-grouping-row:not(:first-child) td {
        border: solid #ccc;
        border-width: 1px 0 0 0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-grid-content .k-grouping-row td span.Count {
        color: #0c0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-grid-content .k-grouping-row td span.Product.k-i-check-circle {
        color: #0c0; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-grid-content .k-grouping-row td span.Product.k-i-close-circle {
        color: #c00; }
      .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-grid-content td.Product {
        text-align: center; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-grid-content td.Product .k-icon.k-i-check-circle {
          color: #00c500; }
        .poeticsoft-woo-agora .poeticsoft-woo-agora-images .Images .List .k-grid .k-grid-content td.Product .k-icon.k-i-close-circle {
          color: #c50000; }

body .k-window.k-dialog .k-dialog-buttongroup {
  display: none; }
  body .k-window.k-dialog .k-dialog-buttongroup.CanCancel {
    display: block; }

.poeticsoft-woo-agora .Notifications {
  position: absolute;
  right: 30px;
  padding: 20px 30px;
  bottom: 30px;
  min-height: 20px;
  text-align: right;
  background-color: #fefefe;
  border: 1px solid #ccc;
  box-shadow: 0 0 12px #00000066;
  z-index: 2;
  display: none; }
  .poeticsoft-woo-agora .Notifications.Error {
    color: #cc1800; }
