/* _categories.scss */

.poeticsoft-woo-agora {
	
	.poeticsoft-woo-agora-categories {

		padding: 5px;

		/* HEAD */

		.Tools {

			width: 100%;
			text-align: right;
			box-sizing: border-box;
		}

		/* VIEWS */

		.Views {
			position: absolute;
			top: 40px;
			right: 5px;
			bottom: 5px;
			left: 15px;			

			display: flex;
			justify-content: space-between;

			/* CATEGORIES */

			.Categories {

				width: calc(50% - 100px);
				
				.Head {

					padding: 0 0 5px;
					border: solid #ccc;	
					border-width: 0 0 1px;
				}

				.CategoriesTreeView { 
					
					.TreeViewItem {

						padding: 5px 10px;	
						cursor: pointer;
					}
				}
			}

			/* TOOLS */

			.Tools {

				width: 140px;
				text-align: center;
				padding-top: 25px;
			}

			/* FAMILIES */

			.Families {

				width: calc(50% - 70px);
				
				.Head {

					padding: 0 0 6px;
					width: 100%;
					white-space: nowrap; 
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.FamiliesListView {

					overflow: auto;
					height: calc(100% - 28px);
					
					.ListViewItem {

						padding: 5px 10px;
						margin: 5px;
						border: solid #ccc 1px;	
						cursor: pointer;
					}
					
					&.Belongs {

						background-color: #ff0;
					}
				}
			}
		}

		/* FOOTER */ 

		.Footer {

			position: absolute;
			right: 14px;
			bottom: 10px;
			left: 10px;
		}
	}
}