/* _images.scss */

.poeticsoft-woo-agora {
	
	.poeticsoft-woo-agora-images {

		padding: 5px 5px 7px;

		.Images {

			display: flex;
			height: 100%;

			/* UPLOAD IMAGES --------------------------------------------------------------------- */
		
			.Upload {

				width: 35%;
				position: relative;
				padding-right: 5px;

				.UploadImageTools { 

					position: absolute;
					right: 10px;
					top: 5px;
					z-index: 1;
				}

				&.k-dropzone-active em {

					display: none;
				}
			
				.k-upload { 

					height: 100%;
					position:relative;
					
					> span {

						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 40px;

						&.k-dropzone-hovered {

							background-color: #00cc0066;
						}
					}

					.k-dropzone {

						padding: 5px;

						.k-upload-status {

							margin-left: 0;
						}
					}
					
					.k-upload-files {                

						height: calc(100% - 42px);
						overflow-y: scroll;
						padding-bottom: 0;
						margin-bottom: 5px;
					}
					
					.k-button.k-clear-selected,
					.k-button.k-upload-selected {                

						border-top: solid #dbdbdb 1px;
					} 
					
					.k-upload-button {
						
						margin-right: 5px;
					}
				}
			} 

			/* IMAGES --------------------------------------------------------------------- */
			
			.List {
				
				width: 65%;

				.k-grid {

					.k-header {

						padding: 5px;
						text-align: right;

						button {

							margin: 0;
						}

						button + button {

							margin: 0 0 0 5px;
						}
					}

					.k-grid-content {

						.k-grouping-row:not(:first-child) {

							td {

								border: solid #ccc;
								border-width: 1px 0 0 0;
							}
						}

						.k-grouping-row {
							
							td {

								span.Count {

									color: #0c0;
								}

								span.Product {

									&.k-i-check-circle {

										color: #0c0;
									}

									&.k-i-close-circle {

										color: #c00;
									}
								}
							}
						}

						td.Product {

							text-align: center;

							.k-icon.k-i-check-circle {

								color: #00c500;
							}

							.k-icon.k-i-close-circle {

								color: #c50000;
							}
						}
					}
				}
			}
		} 
	}
}  