.poeticsoft-woo-agora {
	
	.Notifications {

		position: absolute;
		right: 30px;
		padding: 20px 30px; 
		bottom: 30px; 
		min-height: 20px;
		text-align: right; 
		background-color: #fefefe;
		border: 1px solid #ccc; 
		box-shadow: 0 0 12px #00000066;
		z-index: 2;
		display: none;

		&.Error {
			
			color: rgb(204, 24, 0);
		}
	}
}