/* _products.scss */

.poeticsoft-woo-agora {

	.poeticsoft-woo-agora-products {
		
		.WebProductsView { 

			position: absolute;
			top: 8px;
			right: 6px;
			bottom: 8px;
			left: 6px;
			
			.k-loading-mask { 

					width: 100%; 
					height: 100%; 
					top: 0px; 
					left: 0px;
					background-color: #fff;
			}
			
			.k-treelist { 

				height: 100%;
				
				.k-header { 

					/* text-align: right; */
					padding: 5px;
				}

				.k-grid-header {

					th:not(:first-child) {

						text-align: center;
					}
				}
				
				.k-grid-content { 

					height: calc(100% - 71px) !important;
					
					.k-icon.k-i-collapse { 

						margin: -2px 2px 0 0;
						
						&:before { 

							content: "\e525";
							font-size: 90%;
							display: inline-block;
							color: #3091d8;
						}
					}
						
					.k-icon.k-i-none + .k-icon.k-i-none { 

						&:before { 

							content: "\e202";
							font-size: 40%;
							display: inline-block;
							padding: 0 0 2px 0;
							color: #82b3d8;
						}
					}
						
					.k-icon.k-i-none:only-child { 

						&:before { 

							content: "\e308";
							font-size: 120%;
							display: inline-block;
							margin: -3px 0 0 -3px;
							color: #82bb65;
						}
					}

					td.Type {

						text-align: center;

						div {

							width: 100%;
							height: 100%;
							color: #fff;
						}

						div.simple {

							background-color: #82bb65;
						}

						div.variable {

							background-color: #3091d8;
						}

						div.variation {

							background-color: #82b3d8;
						}
					}

					td.Stock {
						
						text-align: center;
						cursor: help;
					}

					td.Image {
						
						text-align: center;

						div {

							&:empty {
								
								&:before {
									content: "\e11d";
									color: #c50000;
								}
							}

							&:not(:empty) {
								
								text-indent: 0;
								font: inherit;
								width: auto;
								height: auto;
							}
						}
					}

					td.Status {

						text-align: center;
						cursor: help;

						.k-icon {

							&.updated {

								color: #0c0;

								&:before {
									
									content: "\e11a";
								}
							}

							&.changed {

								color: #ffac00;

								&:before {
									
									content: "\e403";
								}
							}

							&.new {

								color: #00b1ff;

								&:before {
									
									content: "\e907";
								}
							}

							&.deleted {

								color: #c00;

								&:before {
									
									content: "\e11c";
								}
							}
						}
					}
				}

				.k-status {

					display: none;
				}
			}
			
			td.Editable.Variable,
			td.Editable.Simple {

				background-color: #eff5dc66;
				cursor: pointer;
			}
		}
	}
}

.DataToolTip {

	text-align: left;
	background-color: #fff;
	color: #888;
	padding: 10px;

	.Field {

		border: solid #ccc;
		border-width: 0 0 1px 0;
		padding: 5px 0;

		&:last-child {

			border-width: 0;
		}

		.Name,
		.Value {

			display: inline-block;
			vertical-align: top;
		}

		.Name {

			width:40%;
		}

		.Value {

			width: 55%
		}
	}
}