
	.poeticsoft-utils {

		position: relative;
		/* margin-left: -20px;        */
		
		.Notifications {

			position: absolute;
			top: 20px; 
			right: 20px;
			padding: 10px 20px;  
			min-height: 20px;
			text-align: right; 
			background-color: #fefefe;
			border: 1px solid #ccc; 
			box-shadow: 0 0 12px #00000066;

			&.Error {
				
				color: rgb(204, 24, 0);
			}
		}
	}

	@import "tabs";
	@import "excel";
	@import "products";
	@import "categories";
	@import "images";